$color1: red;
$color2: white;
$color3: black;
$color4:#00000093;
$colorLabel: gray;
$imagen1: url(../assets/images/Party1.jpg);
$imagen2: url(../assets/images/Party2.jpg);
$fuente1:"Outfit", sans-serif;
$degradado1:radial-gradient(
  circle,
  rgba(74, 28, 28, 1) 0%,
  rgba(15, 15, 15, 1) 58%,
  rgba(0, 0, 0, 1) 100%
);
@mixin mixin1($bgColorMixin, $ceroPix, $colorMixin, $cardMaxAncho, $transicion){
  background-color: $bgColorMixin;
  border-radius: $ceroPix;
  color: $colorMixin;
  max-width: $cardMaxAncho;
  transition: $transicion;
}
body {
  font-family: $fuente1;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: $degradado1;
}

.logo {
  font-size: 4em;
  padding-left: 20px;
  transition: 1s;

  &:hover {
    animation-name: logoAnim;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
  }
}

a {
  color: $color2;
  text-decoration: none;
  &:hover {
    text-shadow: 0 0 10px $color2;
  }
  &:visited {
    color: $color2;
    text-decoration: none;
  }
}
.nav-link {
  &:hover {
    @extend a;
  }
}

.alert {
  padding: 5px;
}

.alert-danger {
  background-color: $color1;
  color: $color2;
  margin: 0;
  border-radius: 0;
  padding-right: 30px;
  border: 0;
}

.btn-close {
  &:focus {
    box-shadow: 0px 0px 5px $color3;
  }
}
.fade {
  transition: 0.2s;
}

h2 {
  font-size: 15px;
}

.presentacion {
  text-align: center;
  padding-top: 20vh;
  text-shadow: 0px 0px 10px $color3;
  
}
.img-fluid {
  height: auto;
  width: 100%;
}
.video {
  height: 120vh;
  top: 0px;
  position: fixed;
  z-index: -2;
}
.fondo1 {
  background-image: $imagen1;
  height: 1200px;
}

.fondo2 {
  background-image: $imagen2;
  height: 1100px;
}

.formulario {
  padding-top: 10vh;
  padding-left: 20%;
  transform: scale(1.1);
}
.formulario2 {
  @extend .formulario;
  text-shadow: 0px 0px 10px $color3;
}

.form-floating {
  max-width: 50vw;
}

.form-control {
  &:focus {
    border-color: $color1;
    box-shadow: inset 0px 0px 7px $color1;
  }
}

label {
  margin-left: 10px;
  color: $colorLabel;
}

.mapa {
  text-shadow: 0 0 5px $color3;
  margin-top: 5vh;
}

.muestra {
  padding-bottom: 25%;
}

.card {
  @include mixin1($color4, 0%, $color2, 540px, 0.5s);
  &:hover {
    transform: scale(1.1);
  }
}

div {
  & h1 {
    margin-bottom: 30px;
  }

  & p {
    font-size: 20px;
  }
}

.d-block {
  max-height: 85vh;
}

.fa-brands {
  font-size: 2em;
}
.btn{
  transition: 0.5s;
}
.btn-outline-light {
  border: 0;
}

.fa-location-dot {
  font-size: 30px;
}
@import "_Jumbotron.scss";
@keyframes logoAnim {
  25% {
    rotate: 10deg;
  }

  75% {
    rotate: -10deg;
  }

  100% {
    rotate: 0deg;
  }
}

@media (max-width: 767px) {
  .video {
    height: 100vh;
    top: 0px;
  }
  .fondo2 {
    height: 800px;
  }
  .formulario2{
    padding-left: 0px;
  }
  .p-4 {
    padding: 5px !important;
  }

  .card-title {
    display: flex;
    justify-content: center;
  }

  .card-text {
    display: flex;
    justify-content: center;
  }

  .col-md-4 {
    display: flex;
    justify-content: center;
  }

  iframe {
    width: 275px;
    height: 100px;
  }
}
