body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: radial-gradient(circle, rgb(74, 28, 28) 0%, rgb(15, 15, 15) 58%, rgb(0, 0, 0) 100%);
}

.logo {
  font-size: 4em;
  padding-left: 20px;
}
.logo:hover {
  animation-name: logoAnim;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}

.nav-link:hover {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 10px white;
}

a:visited {
  color: white;
  text-decoration: none;
}

.alert {
  padding: 5px;
}

.alert-danger {
  background-color: red;
  color: white;
  margin: 0;
  border-radius: 0;
  padding-right: 30px;
  border: 0;
}

.btn-close:focus {
  box-shadow: 0px 0px 5px black;
}

.fade {
  transition: 0.2s;
}

h2 {
  font-size: 15px;
}

.presentacion {
  text-align: center;
  padding-top: 20vh;
  text-shadow: 0px 0px 10px black;
}

.img-fluid {
  height: auto;
  width: 100%;
}

.fondo1 {
  background-image: url(../assets/images/Party1.jpg);
  height: 1200px;
}

.fondo2 {
  background-image: url(../assets/images/Party2.jpg);
}

.formulario {
  padding-top: 10vh;
  padding-left: 20%;
}

.formulario2 {
  padding-top: 10vh;
  padding-left: 20%;
  text-shadow: 0px 0px 10px black;
}

.form-floating {
  max-width: 50vw;
}

.form-control:focus {
  border-color: red;
  box-shadow: inset 0px 0px 7px red;
}

label {
  margin-left: 10px;
  color: gray;
}

.mapa {
  text-shadow: 0 0 5px black;
  margin-top: 5vh;
}

.muestra {
  padding-bottom: 25%;
}

.card {
  background-color: rgba(0, 0, 0, 0.5764705882);
  border-radius: 0%;
  color: white;
  max-width: 540px;
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.1);
}

div h1 {
  margin-bottom: 30px;
}
div p {
  font-size: 20px;
}

.video {
  height: 120vh;
  top: 0px;
  position: fixed;
  z-index: -2;
}

.d-block {
  max-height: 85vh;
}

.fa-brands {
  font-size: 2em;
}

.btn {
  transition: 0.5s;
}

.btn-outline-light {
  border: 0;
}

.fa-location-dot {
  font-size: 30px;
}

.jumbotron {
  min-height: 680px;
  background-position: center;
}
.jumbotron h1 {
  font-size: 80px;
}
.jumbotron p {
  font-size: 40px;
  text-shadow: 0 0 5px black;
}

.jumbotronImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.jumbotronImg button {
  background-color: red;
  border-radius: 0%;
  margin-top: 20px;
}

@keyframes logoAnim {
  25% {
    rotate: 10deg;
  }
  75% {
    rotate: -10deg;
  }
  100% {
    rotate: 0deg;
  }
}
@media (max-width: 767px) {
  .video {
    height: 100vh;
    top: 0px;
  }
  .fondo2 {
    height: 800px;
  }
  .formulario2 {
    padding-left: 0px;
  }
  .p-4 {
    padding: 5px !important;
  }
  .card-title {
    display: flex;
    justify-content: center;
  }
  .card-text {
    display: flex;
    justify-content: center;
  }
  .col-md-4 {
    display: flex;
    justify-content: center;
  }
  iframe {
    width: 275px;
    height: 100px;
  }
}

/*# sourceMappingURL=estilos.css.map */
