body{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.logo{
    font-size: 4em;
    padding-left: 20px;
}
.nav-link:hover{
color: #fff;
}

a{color: #fff;
text-decoration: none;
}
a:hover{
    text-shadow: 0 0 10px #fff;
}
a:visited{
    color: #fff;
text-decoration: none;
}
.alert{
    padding: 5px;
}
.alert-danger{
    background-color:red;
    color: #fff;
    margin: 0;
    padding-right: 30px;
    border-radius: 0;
    border: 0;
}
.jumbotron{
    min-height: 680px;
    background-position: center;
}
.jumbotron video{
    height: 110vh;
}
.presentacion{
    text-align: center;
    padding-top: 20vh;
}
.jumbotronImg{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1200px;
}
.fondo1{
    background-image: url(../assets/images/Party1.jpg);
}
.fondo2{
    background-image: url(../assets/images/Party2.jpg);
}

.formulario{
    padding-top: 10vh;
    padding-left: 20%;
}
.form-floating{
    max-width: 50vw;
}
label{
    color: gray;
}
.jumbotronImg button{
    border-radius: 0%;
    margin-top: 20px;
}
.muestra{
    background: rgb(74,28,28);
    background: radial-gradient(circle, rgba(74,28,28,1) 0%, rgba(15,15,15,1) 58%, rgba(0,0,0,1) 100%);
    padding-bottom: 25%;
}
.card{
    background-color: #00000093;
    border-radius: 0%;
    color: #fff;
    max-width: 540px;
    
}

div h1{
    text-shadow: 0 0 5px black;
    margin-bottom: 30px;
}
div p{
    font-size: 20px;
}
.video{
    min-width: 100%;
    min-height: 100%;
    position:fixed;
    z-index: -2;
}
.d-block{
    max-height: 85vh;
}

.fa-brands{
    font-size: 2em;
}
.btn-outline-light{
    border: 0;
}
